{
  "openapi": "3.1.0",
  "info": {
    "contact": {
      "email": "support@scanpower.com",
      "name": "ScanPower Support",
      "url": "https://www.scanpower.com"
    },
    "description": "Public facing APIs for sellers, prep-centers, and integrators.",
    "license": {
      "name": "ScanPower API",
      "url": "https://www.scanpower.com/license"
    },
    "title": "ScanPower API",
    "version": "2.0"
  },
  "servers": [
    {
      "description": "endpoint for us-east region",
      "url": "https://unity.scanpower.com"
    },
    {
      "description": "endpoint for us-west region",
      "url": "https://west.scanpower.com"
    },
    {
      "description": "endpoint for eu-west region",
      "url": "https://uk.scanpower.com"
    }
  ],
  "security": [
    {
      "basic_auth": []
    }
  ],
  "paths": {
    "/api/v2/users": {
      "get": {
        "description": "Get a list of active users (parent and sub users)",
        "operationId": "getUsers",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "id": {
                        "description": "The internal id for a ScanPower user. A v4 UUID.",
                        "type": "string"
                      },
                      "name": {
                        "description": "The user's buisness or personal name.",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Account"
        ],
        "summary": "Get a list of active users (parent and sub users)"
      }
    },
    "/account": {
      "get": {
        "summary": "Get a list of Client Proxy Users",
        "description": "Get a list of client proxy users",
        "operationId": "getProxyUsers",
        "parameters": [
          {
            "description": "The proxy indicator",
            "example": "proxy",
            "in": "query",
            "name": "proxy",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "email": {
                        "items": {
                          "description": "An email address",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "id": {
                        "description": "The internal id for a ScanPower user. A v4 UUID.",
                        "type": "string"
                      },
                      "misc": {
                        "description": "Some additional details, documented are just some of the common ones. Others may be returned that were either one-off values or are no longer used.",
                        "properties": {
                          "active": {
                            "description": "Tracks sub-users' active status",
                            "type": "boolean"
                          },
                          "autoSyncInventory": {
                            "description": "False if we shouldn't sync inventory on login",
                            "type": "boolean"
                          },
                          "default-return-status": {
                            "description": "When an order is returned, default the return status to this.",
                            "type": "string"
                          },
                          "deleted": {
                            "description": "If the user has been deleted, this will be a timestamp representing when the user was deleted.",
                            "type": "string"
                          },
                          "region": {
                            "description": "Users are saved in both east and west regions. We check this on login to see which server to direct the user to.",
                            "type": "string"
                          },
                          "sync-orders": {
                            "description": "Set to false to prevent orders and settlements from saving.",
                            "type": "boolean"
                          },
                          "trackTime": {
                            "description": "Set to true to track how long a (sub-)user is logged in.",
                            "type": "boolean"
                          }
                        },
                        "type": "object"
                      },
                      "name": {
                        "description": "The user's buisness or personal name.",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "tags": [
          "Account",
          "Prep Center"
        ]
      }
    },
    "/api/v2/token": {
      "get": {
        "summary": "Get an API token",
        "description": "All other API calls require the token that this endpoint provides",
        "operationId": "getApiToken",
        "parameters": [
          {
            "description": "The ID of a user you have proxy access to. If provided, the returned token will allow you to make API calls on behalf of this user.",
            "in": "header",
            "name": "X-Proxy",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/plain": {
                "examples": {
                  "success": {
                    "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "A token was generated and returned in the response body"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/az/access-token": {
      "get": {
        "description": "Get an access token from Amazon with which to make SP-API calls.",
        "operationId": "getAccessToken",
        "parameters": [
          {
            "description": "The marketplace to perform operations in.",
            "example": "US",
            "in": "query",
            "name": "marketplace",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 3600,
                      "description": "How many seconds until the token expires."
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Auth",
          "Amazon"
        ],
        "summary": "Get an access token from Amazon with which to make SP-API calls."
      }
    },
    "/api/az/catalog/items": {
      "get": {
        "summary": "Search Catalog Items",
        "description": "Wrapper around Amazon's [searchCatalogItems](https://developer-docs.amazon.com/sp-api/docs/catalog-items-api-v2022-04-01-reference#searchcatalogitems) API",
        "operationId": "searchCatalogItems",
        "parameters": [
          {
            "description": "A comma separated list of identifiers. Note that SKUs with commas need to be searched one at a time.",
            "example": "B001FOQJOG",
            "in": "query",
            "name": "identifiers",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[IdentifiersType](https://developer-docs.amazon.com/sp-api/docs/catalog-items-api-v2022-04-01-reference#identifierstype)",
            "example": "ASIN",
            "in": "query",
            "name": "identifiersType",
            "schema": {
              "type": "string"
            }
          },
          {
            "example": [
              "US"
            ],
            "in": "query",
            "name": "marketplaceIds",
            "schema": {
              "items": {
                "$ref": "#/components/schemas/MarketplaceId"
              },
              "type": "array"
            }
          },
          {
            "description": "A comma separated list of one or more [IncludedData](https://developer-docs.amazon.com/sp-api/docs/catalog-items-api-v2022-04-01-reference#includeddata-subgroup-2), defaults to `summaries`.",
            "in": "query",
            "name": "includedData",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "locale",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "keywords",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "brandNames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "classificationIds",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/spapi.pageSize"
          },
          {
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "keywordsLocale",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[ItemSearchResults](https://developer-docs.amazon.com/sp-api/docs/catalog-items-api-v2022-04-01-reference#itemsearchresults)",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon Catalog"
        ]
      }
    },
    "/api/az/inbound/fba/inboundPlans": {
      "get": {
        "summary": "List InboundPlans",
        "description": "Wrapper around Amazon's [listInboundPlans](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listinboundplans) API",
        "operationId": "listInboundPlans",
        "parameters": [
          {
            "$ref": "#/components/parameters/spapi.pageSize"
          },
          {
            "in": "query",
            "name": "paginationToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "description": "[Status](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#status)",
              "enum": [
                "ACTIVE",
                "VOIDED",
                "SHIPPED"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "description": "[SortBy](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#sortby)",
              "enum": [
                "LAST_UPDATED_TIME",
                "CREATION_TIME"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "description": "[SortOrder](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#sortorder)",
              "enum": [
                "ASC",
                "DESC"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/allPages"
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[ListInboundPlansResponse](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listinboundplansresponse)",
                  "properties": {
                    "inboundPlans": {
                      "items": {
                        "description": "[InboundPlanSummary](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#inboundplansummary)",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "inboundPlanId": {
                            "type": "string"
                          },
                          "lastUpdatedAt ": {
                            "type": "string"
                          },
                          "marketplaceIds": {
                            "items": {
                              "$ref": "#/components/schemas/MarketplaceId"
                            },
                            "type": "array"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sourceAddress": {
                            "$ref": "#/components/schemas/Address"
                          },
                          "status": {
                            "enum": [
                              "ACTIVE",
                              "VOIDED",
                              "SHIPPED",
                              "ERRORED"
                            ],
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment"
        ]
      },
      "post": {
        "summary": "Create Inbound Plan",
        "description": "Wrapper around Amazon's [createInboundPlan](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#createinboundplan) API",
        "operationId": "createInboundPlan",
        "parameters": [
          {
            "$ref": "#/components/parameters/operationComplete"
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "[CreateInboundPlanRequest](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#createinboundplanrequest)",
                "properties": {
                  "destinationMarketplaces": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "items": {
                    "items": {
                      "$ref": "#/components/schemas/ItemInput"
                    },
                    "type": "array"
                  },
                  "name": {
                    "type": "string"
                  },
                  "sourceAddress": {
                    "$ref": "#/components/schemas/spapi.AddressInput"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[CreateInboundPlanResponse](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#createinboundplanresponse)",
                  "properties": {
                    "inboundPlanId": {
                      "type": "string"
                    },
                    "operationId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/az/inbound/fba/inboundPlans/{inboundPlanId}": {
      "get": {
        "summary": "Get Inbound Plan",
        "description": "Wrapper around Amazon's [getInboundPlan](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#getinboundplan) API",
        "operationId": "getInboundPlan",
        "parameters": [
          {
            "in": "path",
            "name": "inboundPlanId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[InboundPlan](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#inboundplan)",
                  "properties": {
                    "createdAt": {
                      "type": "string"
                    },
                    "inboundPlanId": {
                      "type": "string"
                    },
                    "lastUpdatedAt ": {
                      "type": "string"
                    },
                    "marketplaceIds": {
                      "items": {
                        "$ref": "#/components/schemas/MarketplaceId"
                      },
                      "type": "array"
                    },
                    "name": {
                      "type": "string"
                    },
                    "packingOptions": {
                      "items": {
                        "description": "[PackingOptionSummary](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#packingoptionsummary)",
                        "properties": {
                          "packingOptionId": {
                            "type": "string"
                          },
                          "status": {
                            "enum": [
                              "OFFERED",
                              "ACCEPTED",
                              "EXPIRED"
                            ],
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "placementOptions": {
                      "items": {
                        "description": "[PlacementOptionSummary](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#placementoptionsummary)",
                        "properties": {
                          "placementOptionId": {
                            "type": "string"
                          },
                          "status": {
                            "enum": [
                              "OFFERED",
                              "ACCEPTED"
                            ],
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "shipments": {
                      "items": {
                        "description": "[ShipmentSummary](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#shipmentsummary)",
                        "properties": {
                          "shipmentId": {
                            "type": "string"
                          },
                          "status": {
                            "enum": [
                              "ABANDONED",
                              "CANCELLED",
                              "CHECKED_IN",
                              "CLOSED",
                              "DELETED",
                              "DELIVERED",
                              "IN_TRANSIT",
                              "MIXED",
                              "READY_TO_SHIP",
                              "RECEIVING",
                              "SHIPPED",
                              "WORKING"
                            ],
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "sourceAddress": {
                      "$ref": "#/components/schemas/Address"
                    },
                    "status": {
                      "enum": [
                        "ACTIVE",
                        "VOIDED",
                        "SHIPPED",
                        "ERRORED"
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/az/inbound/fba/inboundPlans/{inboundPlanId}/boxes": {
      "get": {
        "summary": "List InboundPlan Boxes",
        "description": "Wrapper around Amazon's [listInboundPlanBoxes](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listinboundplanboxes) API",
        "operationId": "listInboundPlanBoxes",
        "parameters": [
          {
            "in": "path",
            "name": "inboundPlanId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/spapi.pageSize"
          },
          {
            "in": "query",
            "name": "paginationToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/allPages"
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[ListInboundPlanBoxesResponse](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listinboundplanboxesresponse)",
                  "properties": {
                    "boxes": {
                      "items": {
                        "$ref": "#/components/schemas/Box"
                      },
                      "type": "array"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/az/inbound/fba/inboundPlans/{inboundPlanId}/items": {
      "get": {
        "summary": "List InboundPlan Items",
        "description": "Wrapper around Amazon's [listInboundPlanItems](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listinboundplanitems) API",
        "operationId": "listInboundPlanItems",
        "parameters": [
          {
            "in": "path",
            "name": "inboundPlanId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/spapi.pageSize"
          },
          {
            "in": "query",
            "name": "paginationToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/allPages"
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[ListInboundPlanItemsResponse](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listinboundplanitemsresponse)",
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/Item"
                      },
                      "type": "array"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/az/inbound/fba/inboundPlans/{inboundPlanId}/packingGroups/{packingGroupId}/boxes": {
      "get": {
        "summary": "List PackingGroup Boxes",
        "description": "Wrapper around Amazon's [listPackingGroupBoxes](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listpackinggroupboxes) API",
        "operationId": "listPackingGroupBoxes",
        "parameters": [
          {
            "in": "path",
            "name": "inboundPlanId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "packingGroupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/spapi.pageSize"
          },
          {
            "in": "query",
            "name": "paginationToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/allPages"
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[ListPackingGroupBoxesResponse](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listpackinggroupboxesresponse)",
                  "properties": {
                    "boxes": {
                      "items": {
                        "$ref": "#/components/schemas/Box"
                      },
                      "type": "array"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/az/inbound/fba/inboundPlans/{inboundPlanId}/packingGroups/{packingGroupId}/items": {
      "get": {
        "summary": "List PackingGroup Items",
        "description": "Wrapper around Amazon's [listPackingGroupItems](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listpackinggroupitems) API",
        "operationId": "listPackingGroupItems",
        "parameters": [
          {
            "in": "path",
            "name": "inboundPlanId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "packingGroupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/spapi.pageSize"
          },
          {
            "in": "query",
            "name": "paginationToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/allPages"
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[ListPackingGroupItemsResponse](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listpackinggroupitemsresponse)",
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/Item"
                      },
                      "type": "array"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/az/inbound/fba/inboundPlans/{inboundPlanId}/shipments/{shipmentId}": {
      "get": {
        "summary": "Get Shipment",
        "description": "Wrapper around Amazon's [getShipment](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#getshipment) API",
        "operationId": "getShipment",
        "parameters": [
          {
            "in": "path",
            "name": "inboundPlanId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/az/inbound/fba/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/boxes": {
      "get": {
        "summary": "List Shipment Boxes",
        "description": "Wrapper around Amazon's [listShipmentBoxes](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listshipmentboxes) API",
        "operationId": "listShipmentBoxes",
        "parameters": [
          {
            "in": "path",
            "name": "inboundPlanId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/spapi.pageSize"
          },
          {
            "in": "query",
            "name": "paginationToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/allPages"
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[ListShipmentBoxesResponse](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listshipmentboxesresponse)",
                  "properties": {
                    "boxes": {
                      "items": {
                        "$ref": "#/components/schemas/Box"
                      },
                      "type": "array"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/az/inbound/fba/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/items": {
      "get": {
        "summary": "List ShipmentItems",
        "description": "Wrapper around Amazon's [listShipmentItems](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listshipmentitems) API",
        "operationId": "listShipmentItems",
        "parameters": [
          {
            "in": "path",
            "name": "inboundPlanId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/spapi.pageSize"
          },
          {
            "in": "query",
            "name": "paginationToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/allPages"
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[ListShipmentItemsResponse](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listshipmentitemsresponse)",
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/Item"
                      },
                      "type": "array"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/az/inbound/fba/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/pallets": {
      "get": {
        "summary": "List Shipment Pallets",
        "description": "Wrapper around Amazon's [listShipmentPallets](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listshipmentpallets) API",
        "operationId": "listShipmentPallets",
        "parameters": [
          {
            "in": "path",
            "name": "inboundPlanId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/spapi.pageSize"
          },
          {
            "in": "query",
            "name": "paginationToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/allPages"
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[ListShipmentPalletsResponse](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listshipmentpalletsresponse)",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "pallets": {
                      "items": {
                        "$ref": "#/components/schemas/spapi.Pallet"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/az/inbound/fba/items/prepDetails": {
      "get": {
        "summary": "List Prep Details",
        "description": "Wrapper around Amazon's [listPrepDetails](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listprepdetails) API",
        "operationId": "listPrepDetails",
        "parameters": [
          {
            "in": "query",
            "name": "marketplaceId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MarketplaceId"
            }
          },
          {
            "in": "query",
            "name": "mskus",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[ListPrepDetailsResponse](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#listprepdetailsresponse)",
                  "properties": {
                    "mskuPrepDetails": {
                      "items": {
                        "description": "[MskuPrepDetail](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#mskuprepdetail)",
                        "properties": {
                          "allOwnersConstraint": {
                            "description": "[AllOwnersConstraint](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#allownersconstraint)",
                            "enum": [
                              "MUST_MATCH"
                            ],
                            "type": "string"
                          },
                          "labelOwnerConstraint": {
                            "$ref": "#/components/schemas/spapi.OwnerConstraint"
                          },
                          "msku": {
                            "type": "string"
                          },
                          "prepCategory": {
                            "$ref": "#/components/schemas/spapi.PrepCategory"
                          },
                          "prepOwnerConstraint": {
                            "$ref": "#/components/schemas/spapi.OwnerConstraint"
                          },
                          "prepTypes": {
                            "items": {
                              "$ref": "#/components/schemas/spapi.PrepType"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "msku",
                          "prepCategory",
                          "prepTypes"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      },
      "post": {
        "summary": "Set Prep Details",
        "description": "Wrapper around Amazon's [setPrepDetails](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#setprepdetails) API",
        "operationId": "setPrepDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/operationComplete"
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "[SetPrepDetailsRequest](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#setprepdetailsrequest)",
                "properties": {
                  "marketplaceId": {
                    "$ref": "#/components/schemas/MarketplaceId"
                  },
                  "mskuPrepDetails": {
                    "items": {
                      "description": "[MskuPrepDetailInput](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#mskuprepdetailinput)",
                      "properties": {
                        "msku": {
                          "type": "string"
                        },
                        "prepCategory": {
                          "$ref": "#/components/schemas/spapi.PrepCategory"
                        },
                        "prepTypes": {
                          "items": {
                            "$ref": "#/components/schemas/spapi.PrepType"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "description": "[SetPrepDetailsResponse](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#setprepdetailsresponse)",
                      "properties": {
                        "operationId": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "$ref": "#/components/schemas/InboundOperationStatus"
                    }
                  ]
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/az/inbound/fba/operations/{operationId}": {
      "get": {
        "summary": "Get InboundOperation Status",
        "description": "Wrapper around Amazon's [getInboundOperationStatus](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v2024-03-20-reference#getinboundoperationstatus) API",
        "operationId": "getInboundOperationStatus",
        "parameters": [
          {
            "in": "path",
            "name": "operationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboundOperationStatus"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/az/inbound/fba/shipments/{shipmentId}/billOfLading": {
      "get": {
        "summary": "Get BillOfLading",
        "description": "Wrapper around Amazon's [getBillOfLading](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v0-reference#getbilloflading) API",
        "operationId": "getBillOfLading",
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[GetBillOfLadingResponse](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v0-reference#getbillofladingresponse)",
                  "properties": {
                    "errors": {
                      "description": "[ErrorList](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v0-reference#errorlist)",
                      "items": {
                        "$ref": "#/components/schemas/spapi.Error"
                      },
                      "type": "array"
                    },
                    "payload": {
                      "description": "[BillOfLadingDownloadURL](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v0-reference#billofladingdownloadurl)",
                      "properties": {
                        "DownloadURL": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/az/inbound/fba/shipments/{shipmentId}/labels": {
      "get": {
        "summary": "Get Labels",
        "description": "Wrapper around Amazon's [getLabels](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v0-reference#getlabels) API",
        "operationId": "getLabels",
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "PageType",
            "required": true,
            "schema": {
              "description": "[PageType](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v0-reference#pagetype)",
              "enum": [
                "PackageLabel_A4_2_DHL",
                "PackageLabel_Letter_PCP_FulfillmentLabel",
                "PackageLabel_AWD_Thermal_Square_10CM",
                "PackageLabel_Letter_6_Unified",
                "PackageLabel_A4_2_CITITRANS",
                "PackageLabel_Thermal",
                "PackageLabel_Plain_Paper",
                "PackageLabel_A4_2_AMZL",
                "PackageLabel_AWD_Letter_2_Horizontal",
                "PackageLabel_Plain_Paper_Default",
                "PackageLabel_Thermal_NonPCP",
                "PackageLabel_Plain_Paper_ARAMEX",
                "PackageLabel_A4_2_AIDUK",
                "PackageLabel_Thermal_No_Carrier_Rotation",
                "PackageLabel_Plain_Paper_CarrierBottom",
                "PackageLabel_Letter_2",
                "PackageLabel_A4_2_Horizontal",
                "PackageLabel_Thermal_No_Carrier_Rotation_SEND_CN_Carriers",
                "PackageLabel_Letter_2_SEND_CN_Carriers",
                "PackageLabel_Letter_6_CarrierLeft",
                "PackageLabel_Letter_6",
                "PackageLabel_AWD_Letter_PCP_FulfillmentLabel",
                "PackageLabel_Thermal_Square_10CM",
                "PackageLabel_A4_6_ARAMEX",
                "PackageLabel_AWD_Plain_Paper",
                "PackageLabel_AWD_Thermal",
                "PackageLabel_A4_2",
                "PackageLabel_A4_2_GIFT",
                "PackageLabel_AWD_Thermal_No_Carrier_Rotation",
                "PackageLabel_Thermal_Unified",
                "PackageLabel_Plain_Paper_Unified",
                "PackageLabel_Letter_2_Horizontal",
                "PackageLabel_A4_4",
                "PackageLabel_AWD_Thermal_NonPCP",
                "PackageLabel_AWD_A4_2_Horizontal",
                "PackageLabel_AWD_Letter_2",
                "PackageLabel_A4_6",
                "PackageLabel_A4_2_Standard_Carrier",
                "PackageLabel_AWD_Letter_6",
                "PackageLabel_A4_2_YAMATO",
                "PackageLabel_Plain_Paper_JPPost"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "LabelType",
            "required": true,
            "schema": {
              "description": "[LabelType](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v0-reference#labeltype)",
              "enum": [
                "BARCODE_2D",
                "UNIQUE",
                "PALLET"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "NumberOfPackages",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "PackageLabelsToPrint ",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "NumberOfPallets",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "PageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "PageStartIndex",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/x-access-token"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "[GetLabelsResponse](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v0-reference#getlabelsresponse)",
                  "properties": {
                    "errors": {
                      "description": "[ErrorList](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v0-reference#errorlist)",
                      "items": {
                        "$ref": "#/components/schemas/spapi.Error"
                      },
                      "type": "array"
                    },
                    "payload": {
                      "description": "[LabelDownloadURL](https://developer-docs.amazon.com/sp-api/docs/fulfillment-inbound-api-v0-reference#labeldownloadurl)",
                      "properties": {
                        "DownloadURL": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment",
          "Printing"
        ]
      }
    },
    "/api/batch/{batch_id}/inbound_plan": {
      "get": {
        "summary": "Get InboundPlans",
        "description": "Load the inbound plans associated with the given batch",
        "operationId": "getInboundPlans",
        "parameters": [
          {
            "in": "path",
            "name": "batch_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "inbound_plans": {
                      "items": {
                        "$ref": "#/components/schemas/inbound_plan"
                      },
                      "type": "array"
                    },
                    "total_rows": {
                      "description": "The total number of plans that could be returned",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment",
          "Amazon Batch"
        ]
      },
      "post": {
        "summary": "Create an inbound plan from the items in the provided batch",
        "description": "Create an inbound plan from the items in the provided batch",
        "operationId": "createInboundPlanFromBatch",
        "parameters": [
          {
            "in": "path",
            "name": "batch_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/error"
                      },
                      "type": "array"
                    },
                    "inbound_plan": {
                      "$ref": "#/components/schemas/inbound_plan"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Plan data will be returned if it takes less than 5 seconds to generate."
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment",
          "Amazon Batch"
        ]
      }
    },
    "/api/batch/{batch_id}/submit_boxes": {
      "post": {
        "summary": "Submit Boxes",
        "description": "Send packed box information to Amazon",
        "operationId": "submitBoxes",
        "parameters": [
          {
            "in": "path",
            "name": "batch_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/error"
                      },
                      "type": "array"
                    },
                    "placement_options": {
                      "items": {
                        "$ref": "#/components/schemas/placement_option"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Placement options will be returned if it takes less than 5 seconds to generate."
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "Amazon",
          "FBA Inbound Shipment"
        ]
      }
    },
    "/api/v2/box": {
      "get": {
        "description": "List boxes for a v1 Amazon batch",
        "operationId": "selectBoxes",
        "parameters": [
          {
            "description": "The id of the v1 batch to load boxes for",
            "in": "query",
            "name": "v1_batch_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the v2 batch to load boxes for",
            "in": "query",
            "name": "v2_batch_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the v2 shipment to load boxes for",
            "in": "query",
            "name": "shipment_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of zero or more of `configuration` or `box_items`.",
            "explode": false,
            "in": "query",
            "name": "with",
            "schema": {
              "items": {
                "enum": [
                  "configuration",
                  "box_items"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "boxes": {
                      "items": {
                        "allOf": [
                          {
                            "properties": {
                              "box_items": {
                                "items": {
                                  "$ref": "#/components/schemas/box_item"
                                },
                                "type": "array"
                              },
                              "configuration": {
                                "description": "Boxes sharing the same `configuration` have the same dimensions and items and can be rolled up into a single box with multiple quantity when calling `setPackingInformation`. This number isn't guaranteed to be in any particular order or stay the same across calls.",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          {
                            "$ref": "#/components/schemas/box"
                          }
                        ]
                      },
                      "type": "array"
                    },
                    "total_rows": {
                      "description": "The total number of box records",
                      "format": "int64",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "204": {
            "description": "No boxes were found"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment",
          "Amazon"
        ],
        "summary": "List boxes for a v1 Amazon batch"
      },
      "post": {
        "description": "Insert a Box",
        "operationId": "insertBox",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "description": "One of `v1_batch_id`, `v2_batch_id`, or `shipment_id` is required.",
                    "properties": {
                      "shipment_id": {
                        "description": "The shipment to create the box in",
                        "type": "string"
                      },
                      "v1_batch_id": {
                        "description": "The v1 batch to create the box in",
                        "type": "integer"
                      },
                      "v2_batch_id": {
                        "description": "The v2 batch to create the box in",
                        "format": "int64",
                        "type": "integer"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "$ref": "#/components/schemas/box_input"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "box": {
                      "$ref": "#/components/schemas/box"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment",
          "Amazon"
        ],
        "summary": "Insert a Box"
      }
    },
    "/api/v2/box/{box_id}": {
      "delete": {
        "description": "Delete a Box",
        "operationId": "deleteBox",
        "parameters": [
          {
            "description": "The id of the box to delete",
            "in": "path",
            "name": "box_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "box": {
                      "$ref": "#/components/schemas/box"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Sucess"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment",
          "Amazon"
        ],
        "summary": "Delete a Box"
      },
      "get": {
        "description": "Get a Box",
        "operationId": "selectBox",
        "parameters": [
          {
            "description": "The id of the box to get",
            "in": "path",
            "name": "box_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "box": {
                      "$ref": "#/components/schemas/box"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment",
          "Amazon"
        ],
        "summary": "Get a Box"
      },
      "patch": {
        "description": "Update Box",
        "operationId": "updateBox",
        "parameters": [
          {
            "description": "The id of the box to update",
            "in": "path",
            "name": "box_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/box_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "box": {
                      "$ref": "#/components/schemas/box"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment",
          "Amazon"
        ],
        "summary": "Delete Box"
      }
    },
    "/api/v2/box/{box_id}/items": {
      "get": {
        "description": "List BoxItems",
        "operationId": "selectBoxItems",
        "parameters": [
          {
            "description": "The id of the box to get",
            "in": "path",
            "name": "box_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The timestamp the box with ID `box_id` was created",
            "in": "query",
            "name": "box_created",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "box_items": {
                      "items": {
                        "$ref": "#/components/schemas/box_item"
                      },
                      "type": "array"
                    },
                    "total_rows": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment",
          "Amazon"
        ],
        "summary": "List BoxItems"
      },
      "post": {
        "description": "Insert BoxItem",
        "operationId": "insertBoxItem",
        "parameters": [
          {
            "description": "The id of the box to get",
            "in": "path",
            "name": "box_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The timestamp the box with ID `box_id` was created",
            "in": "query",
            "name": "box_created",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "properties": {
                      "sku": {
                        "type": "string"
                      },
                      "external_id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "sku",
                      "external_id"
                    ],
                    "type": "object"
                  },
                  {
                    "$ref": "#/components/schemas/box_item_input"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "box_item": {
                      "$ref": "#/components/schemas/box_item"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment",
          "Amazon"
        ],
        "summary": "Insert BoxItem"
      }
    },
    "/api/v2/box/{box_id}/items/{sku}": {
      "delete": {
        "description": "Delete BoxItem",
        "operationId": "deleteBoxItem",
        "parameters": [
          {
            "description": "The id of the box in which the item to delete resides",
            "in": "path",
            "name": "box_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The SKU of the box item to delete",
            "in": "path",
            "name": "sku",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The timestamp the box with ID `box_id` was created",
            "in": "query",
            "name": "box_created",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "box_item": {
                      "$ref": "#/components/schemas/box_item"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Sucess"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment",
          "Amazon"
        ],
        "summary": "Delete BoxItem"
      },
      "patch": {
        "description": "Update BoxItem",
        "operationId": "updateBoxItem",
        "parameters": [
          {
            "description": "The id of the box in which the item to update resides",
            "in": "path",
            "name": "box_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The SKU of the box item to update",
            "in": "path",
            "name": "sku",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The timestamp the box with ID `box_id` was created",
            "in": "query",
            "name": "box_created",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/box_item_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "box_item": {
                      "$ref": "#/components/schemas/box_item"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment",
          "Amazon"
        ],
        "summary": "Update BoxItem"
      }
    },
    "/api/v2/pallet": {
      "get": {
        "description": "List Pallets",
        "operationId": "selectPallets",
        "parameters": [
          {
            "description": "The id of the v1 batch to load pallets for",
            "in": "query",
            "name": "v1_batch_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the v2 batch to load pallets for",
            "in": "query",
            "name": "v2_batch_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the v2 shipment to load pallets for",
            "in": "query",
            "name": "shipment_id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "boxes": {
                      "items": {
                        "$ref": "#/components/schemas/pallet"
                      },
                      "type": "array"
                    },
                    "total_rows": {
                      "description": "The total number of pallet records",
                      "format": "int64",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "204": {
            "description": "No pallets were found"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment",
          "Amazon"
        ],
        "summary": "List Pallets"
      },
      "post": {
        "description": "Insert Pallet",
        "operationId": "insertPallet",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "description": "One of `v1_batch_id`, `v2_batch_id`, or `shipment_id` is required.",
                    "properties": {
                      "shipment_id": {
                        "description": "The shipment to create the pallet in",
                        "type": "string"
                      },
                      "v1_batch_id": {
                        "description": "The v1 batch to create the pallet in",
                        "type": "integer"
                      },
                      "v2_batch_id": {
                        "description": "The v2 batch to create the pallet in",
                        "format": "int64",
                        "type": "integer"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "$ref": "#/components/schemas/pallet_input"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pallet": {
                      "$ref": "#/components/schemas/pallet"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment",
          "Amazon"
        ],
        "summary": "Insert Pallet"
      }
    },
    "/api/v2/pallet/{pallet_id}": {
      "delete": {
        "description": "Delete Pallet",
        "operationId": "deletePallet",
        "parameters": [
          {
            "description": "The id of the pallet to delete",
            "in": "path",
            "name": "pallet_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pallet": {
                      "$ref": "#/components/schemas/pallet"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment",
          "Amazon"
        ],
        "summary": "Delete Pallet"
      },
      "get": {
        "description": "List Pallet",
        "operationId": "selectPallet",
        "parameters": [
          {
            "description": "The id of the pallet to get",
            "in": "path",
            "name": "pallet_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pallet": {
                      "$ref": "#/components/schemas/pallet"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "tags": [
          "FBA Inbound Shipment",
          "Amazon"
        ],
        "summary": "List Pallet"
      },
      "patch": {
        "description": "Update Pallet",
        "operationId": "updatePallet",
        "parameters": [
          {
            "description": "The id of the pallet to update",
            "in": "path",
            "name": "pallet_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pallet_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
[...]
